<div class="flex flex-col sm:flex-row sm:flex-wrap px-4 sm:px-8">
    <h1
        class="font-serif text-5xl lg:text-6xl text-gold mb-4 leading-tight border-b-2 border-gold border-dashed"
    >
        Hannah & Jos
    </h1>
</div>
<div class="flex flex-col md:flex-row justify-between px-4 sm:px-8">
    <h2
        class="font-serif text-2xl lg:text-3xl font-medium text-gold mb-2 sm:mb-4 leading-tight"
    >
        October 10th 2126
    </h2>
    <h2
        class="font-serif text-2xl lg:text-3xl font-medium text-gold mb-2 sm:mb-4 leading-tight"
    >
        Location 6:00pm
    </h2>
    <h2
        class="font-serif text-2xl lg:text-3xl font-medium text-gold mb-2 sm:mb-4 leading-tight"
    >
        Reception to follow at Secondary Location
    </h2>
</div>
