<div class="flex flex-row pl-16 items-center">
    <h1
        class="font-serif text-5xl md:text-6xl font-medium text-gold mb-4 leading-tight"
    >
        Hannah & Jos
    </h1>
</div>
<div class="flex flex-row pl-16 items-center justify-between pr-16">
    <h2
        class="font-serif text-3xl md:text-4xl font-medium text-gold mb-4 leading-tight"
    >
        October 10th 2126
    </h2>
    <h2
        class="font-serif text-3xl md:text-4xl font-medium text-gold mb-4 leading-tight"
    >
        Location 6:00pm
    </h2>
    <h2
        class="font-serif text-3xl md:text-4xl font-medium text-gold mb-4 leading-tight"
    >
        Reception to follow at Location
    </h2>
</div>
<div class="flex flex-col justify-evenly">
    <img
        class="aspect-2.35/1"
        src="{{ '/assets/img/story_2.jpg' | relative_url }}"
    />
</div>
