<div class="pl-32 pb-16">
    <p class="text-left text-1xl text-gold max-w-6xl text-pretty">
        <img
            class="aspect-2/3 max-w-80 float-right m-6"
            src="{{ '/assets/img/story_1.jpg' | relative_url }}"
        />
        Lorem ipsum dolor sit amet, ceteros vivendum intellegebat sit ex, vel ut
        numquam recusabo. Saperet legendos pri te. Vero velit intellegat ad his,
        accusam perpetua assueverit an est.No eam perpetua qualisque. Sed ut
        nulla viderer, tibique adolescens definitionem cum at, dicam appareat ea
        vis. Per at tempor consequat. Mel ea eruditi necessitatibus. Sit prima
        sonet gubergren ex, vis ei dicta postea laboramus. Ex ferri prompta
        deterruisset eam, cu dicit interesset sit, aliquam fuisset definitiones
        nec ei. Ei mei justo nihil temporibus. Mea in nibh homero tritani, fugit
        ullamcorper quo te. Latine posidonium nec ne, no cum tale qualisque. Eam
        ex lorem repudiare, ne consul propriae his. Ea ridens commune mel, ad
        ius case scripta, cu mel cibo choro consulatu. Eam aperiri accommodare
        ea, at aperiri labitur nec, brute impedit complectitur duo ei. Ad
        aliquip admodum quo, conceptam pertinacia te vis. Ea eos viris everti
        sententiae. Volumus vulputate et ius, usu ferri errem deleniti an,
        omittam epicurei per at. Volumus accusam sapientem his et. Graece
        probatus has id. Dicam ignota cu mei, ad dicant incorrupte vix, at
        bonorum ceteros intellegat mea. Case fuisset ne sit. Ut nam forensibus
        vituperata, minim nonumy vim no, per erant zril adipisci in. Ea nec quod
        nibh, sea erant senserit ne. Lorem ipsum dolor sit amet, ceteros
        vivendum intellegebat sit ex, vel ut numquam recusabo. Saperet legendos
        pri te. Vero velit intellegat ad his, accusam perpetua assueverit an
        est. No eam perpetua qualisque. Sed ut nulla viderer, tibique adolescens
        definitionem cum at, dicam appareat ea vis. Per at tempor consequat. Mel
        ea eruditi necessitatibus. Sit prima sonet gubergren ex, vis ei dicta
        postea laboramus. Ex ferri prompta deterruisset eam, cu dicit interesset
        sit, aliquam fuisset definitiones nec ei. Ei mei justo nihil temporibus.
        Mea in nibh homero tritani, fugit ullamcorper quo te. Latine posidonium
        nec ne, no cum tale qualisque. Eam ex lorem repudiare, ne consul
        propriae his. Ea ridens commune mel, ad ius case scripta, cu mel cibo
        choro consulatu. Eam aperiri accommodare ea, at aperiri labitur nec,
        brute impedit complectitur duo ei. Ad aliquip admodum quo, conceptam
        pertinacia te vis. Ea eos viris everti sententiae. Volumus vulputate et
        ius, usu ferri errem deleniti an, omittam epicurei per at. Volumus
        accusam sapientem his et. Graece probatus has id. Dicam ignota cu mei,
        ad dicant incorrupte vix, at bonorum ceteros intellegat mea. Case
        fuisset ne sit. Ut nam forensibus vituperata, minim nonumy vim no, per
        erant zril adipisci in. Ea nec quod nibh, sea erant senserit ne.
    </p>
</div>
<div class="flex flex-row justify-evenly min-w-xl">
    <img
        class="aspect-square max-w-sm"
        src="{{ '/assets/img/header_1.jpg' | relative_url }}"
    />
    <img
        class="aspect-square max-w-sm"
        src="{{ '/assets/img/header_2.jpg' | relative_url }}"
    />
    <img
        class="aspect-square max-w-sm"
        src="{{ '/assets/img/header_3.jpg' | relative_url }}"
    />
</div>
