<!doctype html>
<html lang="en">
    <head>
        {% include head.html %}
    </head>
    <body class="w-vw mx-auto">
        <main>
            <section
                class="max-w-vw mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-8 flex flex-col font-serif"
            >
                {% include header.html %}
            </section>
            <img
                class="aspect-2.35/1 w-full max-w-full"
                src="{{ '/assets/img/story_2.jpg' | relative_url }}"
            />

            <section
                class="max-w-vw mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-8 flex flex-col font-serif"
            >
                {% include story.html %}
            </section>
            <div
                class="flex flex-col md:flex-row items-center justify-evenly gap-4 sm:gap-8 px-4 sm:px-0"
            >
                <img
                    class="aspect-square w-full sm:max-w-sm"
                    src="{{ '/assets/img/header_1.jpg' | relative_url }}"
                />
                <img
                    class="aspect-square w-full sm:max-w-sm"
                    src="{{ '/assets/img/header_2.jpg' | relative_url }}"
                />
                <img
                    class="lg:flex md:hidden aspect-square w-full sm:max-w-sm"
                    src="{{ '/assets/img/header_3.jpg' | relative_url }}"
                />
            </div>
            <section
                class="max-w-vw mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-8 flex flex-col font-serif"
            >
                {% include RSVP.html %}
            </section>
            <div
                class="flex flex-col md:flex-row justify-evenly items-center gap-4 sm:gap-8 px-4 sm:px-0"
            >
                <img
                    class="aspect-16/9 w-full sm:max-w-96"
                    src="{{ '/assets/img/rsvp_1.jpg' | relative_url }}"
                />
                <div
                    class="flex flex-col justify-between gap-4 sm:gap-8 px-4 sm:px-0"
                >
                    <img
                        class="aspect-2/3 sm:max-w-96"
                        src="{{ '/assets/img/rsvp_2.jpg' | relative_url }}"
                    />
                    <img
                        class="aspect-2/3 sm:max-w-96"
                        src="{{ '/assets/img/rsvp_3.jpg' | relative_url }}"
                    />
                </div>
            </div>
            <section
                class="max-w-vw mx-auto px-4 sm:px-6 lg:px-8 py-4 sm:py-8 flex flex-col font-serif"
            >
                {% include registry.html %}
            </section>
        </main>
    </body>
</html>
